.header {
  padding: 92px 24px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 148px 2fr;
  font-size: 18px;
}

.header__navigation {
  display: flex;
  justify-self: center;
  gap: 13px;
  line-height: 21.13px;
}

.header__navigation .is-active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
  justify-self: center;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-self: end;
  line-height: 24.3px;
  padding-right: 26px;
}

.intro {
  background-image: url(../images/cover.jpg);
  height: 757px;
  background-size: auto 100%;
  background-position: top;
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255);
  padding: 165px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  top: 0;
  left: 0;
}

.intro__title {
  z-index: 2;
  letter-spacing: 30px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.intro__title span:nth-child(2) {
  text-align: center;
}

.intro__title span:nth-child(3) {
  text-align: end;
}

.no-letter-space {
  letter-spacing: 0;
}

.big-space {
  letter-spacing: 50px;
}

.intro__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
}

.intro__text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 20px;
}

.intro__link-button {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  color: rgba(255, 255, 255);
  background-color: transparent;
  border-color: rgba(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  padding: 12px 32px 11px 31px;
}

.lots {
  margin-top: 179px;
}

.lots__title {
  padding-left: 64px;
  padding-bottom: 27px;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
}

.lots__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}

.lots__card {
  display: flex;
  min-height: 563px;
  max-width: 334px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  position: relative;
  z-index: 1;
  flex-grow: 1;
}
.lots__link {
  height: 100%;
}

.lots__card_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 51px 40px 48px 40px;
}

.card__type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card__type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card__type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.card__title {
  color: rgba(255, 255, 255);
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  color: rgba(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
